on: [pull_request]
name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.15.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: install
      run: |
        go get github.com/benitogf/katamari
        go get github.com/benitogf/auth
        go get github.com/benitogf/level
        go get github.com/benitogf/katamari/stream
        go get github.com/prometheus/client_golang/prometheus
        go get github.com/pkg/expect
    - name: lint
      run: go vet .
    - name: Test
      run: go test -v -coverprofile cover.out -count 1 -failfast -race .
